<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page Title</title>
    <!-- Add your CSS styles or external stylesheet links here -->
</head>
<body>

    <!-- Your content goes here -->
    <h1>Home</h1>
    <input type="search"/>
    <a href="create">New Post</a>
    <div>
        <h2>Post-owner-name</h2>
        <h3>Image</h3>
        <p>Caption</p>
    </div>
    <!-- Add your JavaScript scripts or external script links here -->

</body>
</html>
